<header class="site-header">
  <div class="header-container">
    <div class="logo">
      <img src="/icons/logo-removebg-preview.png" alt="Logo CUDI" />
      <span>CUDI</span>
    </div>
    <nav class="navbar" id="navbar">
      <a href="/aboutus.html">Sobre Nosotros</a>
      <div class="dropdown">
        <a href="#">Herramientas</a>
        <ul class="submenu">
          <li><a href="/genrador.html">Generador de contraseñas</a></li>
          <li><a href="/verificador.html">Verificador de contraseñas</a></li>
          <li><a href="#">Verificador de enlaces</a></li>
          <li><a href="#">Golfinho</a></li>
          <li><a href="#">Detector de phishing</a></li>
        </ul>
      </div>

      <a href="#test">Autoevaluación</a>
      <a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=breolanapp@gmail.com&su=Participar%20como%20colaborador"
        target="_blank"
        >Colabora</a
      >

      <a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=breolanapp@gmail.com"
        target="_blank"
        >Contacto</a
      >
    </nav>
    <button class="menu-toggle" id="menu-toggle" aria-label="Abrir menú">
      ☰
    </button>
  </div>
</header>
